body{
    margin: 0;
    height: 100vh;
    font-family: poppins, sans-serif;
    background: linear-gradient(135deg, #13072e, #215c82 67%);
    background-repeat:no-repeat;
    background-attachment: fixed;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 100px;
}

.navbar h2{
    color: #fff;
    cursor: pointer;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    justify-content: space-between;
    margin-right: 25px;
    color: #fff;
    font-size: 1em;
    transition: color 0.3s ease;
}

.navbar ul li a:hover{
    color:  #1c547c;
}

.me{
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}



.me h2 span{
    color: #001638;
    text-decoration: underline;
}

.me {
    color: #fff;
    margin-top: 100px;
    padding: 0 100px;
}

.me p {
    margin-top: 5px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    margin-top: 150px;
    padding: 0 100px;
    gap: 10px;
    color: #fff;
}

.skills .item {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    
}

.front-end {
   background-color: #1A345A;
   text-align: left;
}

.front-end h2{
    margin-top: 5px;
    text-align: center;
    font-family: poppins, sans-serif;
}

.front-end p {
    margin: 5px 0;
    font-size: 1em;
    text-align: justify;
    padding: 25px;
}

.icons {
    background-color: #1c4c74;
    font-size: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.icons > * {
    margin-top: -2.5px;
    margin-left: 39.5px;
}

.icon1 {
    grid-area: 1 / 1 / 2 / 2;
}

.icon2 {
    grid-area: 2 / 2 / 3 / 3;
}

.icon3 {
    grid-area: 3 / 2 / 4 / 3;
}

.icon4 {
    grid-area: 4 / 1 / 5 / 2;
}

.icon5 {
    grid-area: 1 / 4 / 2 / 5;
}

.icon6 {
    grid-area: 2 / 3 / 3 / 4;
}

.icon7 {
    grid-area: 3 / 3 / 4 / 4;
}

.icon8 {
    grid-area: 4 / 4 / 5 / 5;
}

 .back-end {
    background-color:#1c547c;
    text-align: left;
 }

.back-end h2{
    margin-top: 5px;
    text-align: center;
    font-family: poppins, sans-serif;
}

.back-end p {
    margin: 5px 0;
    font-size: 1em;
    text-align: justify;
    padding: 25px;
}

footer{
    position: relative;
    background: linear-gradient(335deg, rgba(19,7,46,1) 0%, rgba(33,92,130,1) 40%);
    padding: 80px 50px 20px;
    margin-top: 100px;
}

footer .start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background: linear-gradient(135deg, #13072e, #215c82 67%);
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
    color: #fff;
}

footer .start p{
    font-size: 13px;
    width: 35%;
}

footer .start button{
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
    color: #fff;
}

footer .start button:hover{
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

footer .cols{
    display: flex;
    align-items: start;
    padding: 0 100px;
    justify-self: space-between;
}

footer .cols .about-col{
    flex: 3;
}

footer .cols .about-col h3{
    color: #001638;
    margin-bottom: 20px;
}

footer .cols .about-col p{
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
}


footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: #001638;
}


@media screen and (min-width: 1100px) {
    .skills > .front-end p,
    .skills > .back-end p{
        padding-top: 0;
    }

    .skills > .icons > * {
        margin-left: 16px;
        padding: 0;
    }
}


@media screen and (max-width: 1100px) {
    .skills{
        flex-wrap: wrap;
        gap: 10px;
    }

    .skills .item{
        flex-basis: 49%;
    }

    .skills{
        padding: 5%;
        gap: 20px;
    }

    .skills > .front-end p, .skills > .back-end p{
        padding-top: 0;
    }

    .skills > .icons *{
        margin-left: 9px;
    }

    footer{
        margin-top: 150px;
    }

    footer .start{
        width: 90%;
        left: 5%;
        top: -20%;
    }

    footer .cols{
        flex-wrap: wrap;
    }

    footer .cols .about-col{
        flex-basis: 50%;
    }

    footer .cols .links-col{
        flex-basis: 50%;
    }

    footer .cols .news-col{
        flex-basis: 50%;
    }

}

@media screen and (max-width: 780px) {
    
    .navbar button{
        display: none;
    }

    .me h4{
        font-size: 24px;
    }

    .me h2{
        font-size: 36px;
    }

    .me p{
        font-size: 14px;
    }

    .skills .item{
        flex-basis: 100%;
    }

    .skills > .front-end, .skills > .back-end {
        font-size: 14px;
    }

    .skills > .icons *{
        font-size: 35px;
        margin-left: 16px;
    }

}

@media screen and (max-width: 650px) {
    
    .navbar{
        justify-content: center;
    }

    .navbar h2{
        display: none;
    }

    .navbar ul li a{
        font-size: 14px;
    }

    .me{
        margin-top: 50px;
        height: 320px;
        justify-content: start;
    }

    .me h4{
        font-size: 20px;
    }

    .me h2{
        font-size: 28px;
    }

    .me p{
        font-size: 14px;
    }

    .skills > .item{
        height: 200px;
    }


    .skills > .front-end, .skills > .back-end {
    font-size: 12px;
    }

    .skills > .icons *{
    font-size: 35px;
    margin-left: 16px;
    }


    footer .start{
        top: -8%;
    }

    footer .start p{
        display: none;
    }

    footer .cols .about-col{
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer .cols .links-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .news-col{
        flex-basis: 100%;
    }

}

@media screen and (max-width: 480px) {
    
    .me h2{
        font-size: 18px;
    }

    .me p{
        font-size: 10px;
    }


    .skills > .front-end, .skills > .back-end {
        font-size: 10px;
    }

    .skills > .icons *{
        font-size: 35px;
        margin-left: 16px;
    }

}